
.stButton > button{
background-color: #367F59;
color: #ffffff;
height: 200px;
width: 1750px;
display: flex;
justify_content: center;
align-items: center
}

.stButton > button:hover{
background-color: #80AD96;
color: #4C4C4D;
border-color: #367F59;
font-family: Poppins;
font-size: 50px;
display: flex;
justify_content: center;
align-items: center
}

.stHeader{
}

#cb71e3e9{
color: #367F59;
font-family: Poppins;

}

#controle-de-entregas{
color: #367F59;
font-family: Poppins;
font-size: 50px;
font-weight: bold;
}

#controle-de{
color: #367F59;
font-family: Poppins;
font-size: 50px;
font-weight: bold;
}

#entregas{
color: #367F59;
font-family: Poppins;
font-size: 50px;
font-weight: bold;
}

.stAppViewContainer{
background-color: #ffffff
}


.st-emotion-cache-12h5x7g{
font-family: Poppins;
font-weight: bold;
font-size: 500px
}

.stForm st-emotion-cache-4uzi61{
background-color: #367F59
color: #367F59
}
